.money-counter-main {
    width: 100%;
    height: 130vh;
    border: 1px solid #000;
}
.money-counter-image {
    border: 1px solid #000;
}
.money-counter-calculation {
    border: 1px solid #000;
    background-color: #f8f8f8;
}
.btn-outline-primary {
    margin-left: 270px;
}
